In [1]:
import pandas as pd

In [2]:
pd.read_csv('datasets/medals/Bronze.csv').head()

   NOC         Country   Total
0  USA   United States  1052.0
1  URS    Soviet Union   584.0
2  GBR  United Kingdom   505.0
3  FRA          France   475.0
4  GER         Germany   454.0